{% extends 'blog/base.html' %}

{% load static %}
{% load blog_tags %}

{% block title %} Internet_blog - {{ category.name }} {% endblock title %}

{% block content %}
<div class="by-category-list row-list">
    <div class="column-list">
        <div class="category-cover" style="background-image: url({{ category.get_cover_url }})">
            <span class="header header-large">{{ category.name }}</span>
        </div>
        <div class="post-list column-list">
            {% for post in post_list %}
                {% include 'blog/elements/post_block.html' %}
            {% endfor %}
        </div>
        {% include 'include/paginator.html' %}
    </div>
    <div class="post-most-popular column-list">
        <span class="header-large">Most popular</span>
        <div class="row-list">
            <img src="{% static 'image/tags.png'%}"  class="icon small">
            {% get_popular_tags category as popular_tags %}
            {% for tag in popular_tags %}
                <a href="{% url 'blog:search' %}?tag={{tag.tags__name}}" >
                    <div class="tag">
                        {{ tag.tags__name }}
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="column-list">
            {% get_popular_posts category as popular_posts %}
            {% for post in popular_posts %}
                <a href="{% url 'blog:post_detail' post.id %}">
                    <span class="header-small">{{ post.header }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}