{% extends 'blog/base.html' %}

{% load static %}
{% load blog_tags %}

{% block content %}
    <div class="search-page column-list align-center gap-big">
        <form action="#" method="get" class="search-block column-list gap-medium">
            {% include 'include/search_input.html' %}
            <div class="category-menu column-list" id="search-category-menu">
                {% get_main_categories as categories %}
                <div class="main-category row-list align-center">
                    {% for category in categories %}
                        <input 
                            type="checkbox"
                            name="category"
                            value="{{ category.name }}"
                            id="{{ category.name }}"
                            {% if category.name in args.categories__name__in %}
                                checked
                            {% endif %}
                        >
                        <label 
                            for="{{ category.name }}" 
                            class="item column-list align-center {% if category.name in args.categories__name__in %}active{% endif %}"
                            onmouseenter="search_category_select(event, '{{forloop.counter0}}')"
                            onclick="check_category(event, '{{forloop.counter0}}')"
                        >{{ category.name }}</label>
                    {% endfor %}
                </div>
                {% for category in categories %}
                    <div class="sub-category row-list {% if forloop.counter == 1%}active{% endif %}">
                        {% for sub_category in category.childs.all %}
                            <input 
                                type="checkbox"
                                name="categories__name__in"
                                value="{{ sub_category.name }}"
                                id="{{ sub_category.name }}"
                                {% if sub_category.name in args.categories__name__in %}
                                    checked
                                {% endif %}
                            >
                            <label 
                                for="{{ sub_category.name }}" 
                                class="item column-list align-center  {% if sub_category.name in args.categories__name__in %}active{% endif %}"
                                onclick="check_subcategory(event, '{{ category.name }}')"
                            >{{ sub_category.name }}</label>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="row-list gap-big">
                <div class="column-list gap-medium">
                    <div class="row-list gap-medium align-center">
                        <img src="{% static 'image/tags.png'%}"  class="icon small">
                        <div class="append-tags">
                            <input type="text" id="add-tags-input" placeholder="+tag..." value="" onsubmit="event.preventDefault();">
                            <div id="tags-search-menu">
                            </div>
                        </div>
                    </div>
                    <select name="sort">
                        <option value="number_of_views">by popular, ascending</option>
                        <option value="-number_of_views" selected>by popular, descending</option>
                        <option value="publication_date">by date, ascending</option>
                        <option value="-publication_date">by date, descending</option>
                    </select>
                </div>
                <div class="row-list gap-medium" id="added-tags-list">
                    {% for tag in args.tags__name__in %}
                        <div class="tag" onclick="this.remove()">
                            {{ tag }}
                            <input type="hidden" name="tags__name__in" value="{{ tag }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
        <div class="post-list column-list gap-big">
            {% for post in post_list %}
                {% include 'blog/elements/post_block.html' %}
            {% endfor %}
        </div>
        {% include 'include/paginator.html' %}
    </div>
    <script type="text/javascript" src="{% static 'js/search.js'%}"></script>
{% endblock content %}