{% extends 'blog/base.html' %}

{% load static %}
{% load blog_tags %}

{% block content %}
<div class="search-page">
    <form action="#" method="get" class="search-block">
        {% include 'include/search_input.html' %}
        <div class="category-menu" id="search-category-menu">
            {% get_main_categories as categories %}
            <div class="main-category">
                {% for category in categories %}
                    <input 
                        type="checkbox"
                        name="category"
                        value="{{ category.name }}"
                        id="{{ category.name }}"
                        {% if category.name in category_list %}
                            checked
                        {% endif %}
                    >
                    <label 
                        for="{{ category.name }}" 
                        class="item  {% if category.name in category_list %}active{% endif %}"
                        onmouseenter="search_category_select(event, '{{forloop.counter0}}')"
                        onclick="check_category(event, '{{forloop.counter0}}')"
                    >{{ category.name }}</label>
                {% endfor %}
            </div>
            {% for category in categories %}
                <div class="sub-category {% if forloop.counter == 1%}active{% endif %}">
                    {% for sub_category in category.childs.all %}
                        <input 
                            type="checkbox"
                            name="category"
                            value="{{ sub_category.name }}"
                            id="{{ sub_category.name }}"
                            {% if sub_category.name in category_list %}
                                checked
                            {% endif %}
                        >
                        <label 
                            for="{{ sub_category.name }}" 
                            class="item  {% if sub_category.name in category_list %}active{% endif %}"
                            onclick="check_subcategory(event, '{{ category.name }}')"
                        >{{ sub_category.name }}</label>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="search-add">
            <div class="search-tags">
                <img src="{% static 'image/tags.png'%}"  class="label">
                <div class="append-tags">
                    <input type="text" id="add-tags-input" placeholder="+tag..." value="" onsubmit="event.preventDefault();">
                    <div id="tags-search-menu">
                    </div>
                </div>
                <div class="post-tags" id="added-tags-list">
                    {% for tag in tag_list %}
                        <div class="tag-block" onclick="this.remove()">
                            {{ tag }}
                            <input type="hidden" name="tags" value="{{tag}}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div >
                <select name="sort">
                    <option value="number_of_views">by popular, ascending</option>
                    <option value="-number_of_views" selected>by popular, descending</option>
                    <option value="publication_date">by date, ascending</option>
                    <option value="-publication_date">by date, descending</option>
                </select>
            </div>
        </div>
    </form>
    <div class="post-list">
        {% for post in post_list %}
            <a href="{% url 'blog:post_detail' post.id %}">
                <div class="post-block">
                    <img src = "{{ post.cover.url }}" class="post-img">
                    <div class="post-inf">
                        <div class="post-text">
                            <span class="post-header">{{ post.header }}</span>
                            <span class="post-describe">{{ post.describe }}</span>
                        </div>
                        <div class="post-labels">
                            <img src="{% static 'image/like.png'%}" class="label">
                            {{ post.like_count }}
                            <img src="{% static 'image/dislike.png'%}"  class="label">
                            {{ post.dislike_count }}
                            <img src="{% static 'image/comment.png'%}"  class="label">
                            {{ post.comment_count }}
                            <div class="post-tags">
                                <img src="{% static 'image/tags.png'%}"  class="label">
                                {% for tag in post.tags.all %}
                                    <div class="tag-block">
                                        {{ tag }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{% static 'js/search.js'%}"></script>
{% endblock content %}