header .top-menu{
    border-bottom: solid 1px var(--color-light-gray);
    padding-bottom: var(--distance-small);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
header .user-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--distance-medium);
}
/****************************************/

header .bottom-menu{
    display: flex;
    flex-direction: column;
}

.bottom-menu .category-menu{
    display: flex;
    align-items: center;
}

.bottom-menu .sub-category{
    background-color: var(--color-dark-blue);

    display: none;
}

.category-menu .item{
    height: var(--distance-large);
    width: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-menu .item.active{
    background-color: var(--color-dark-blue);
}

.category-menu.sub-category.active{
    display: flex;
}