header .top-menu{
    border-bottom: solid 1px var(--color-light-gray);
    padding-bottom: var(--distance-small);
}
/****************************************/

.category-menu .sub-category{
    background-color: var(--color-dark-blue);
    display: none;
}

.category-menu .item{
    height: var(--distance-large);
    width: 150px;
    
    align-items: center;
    justify-content: center;
}

.category-menu .item.active{
    background-color: var(--color-dark-blue);
}

.category-menu .sub-category.active{
    display: flex;
}