:root {
    --color-green: #c6f28d;
    --color-dark-green: #6ec002;
    --color-dark-blue: #464967;
    --color-light-gray: #aeaeae;
    --color-dark-gray: #2F303A;
    --color-white: white;
    --color-black: black;
    
    --text-header-size: 56px;
    --text-small-header-size: 36px;
    --text-large-size: 26px;
    --text-big-size: 20px;
    --text-medium-size: 16px;
    --text-small-size: 14px;
    --text-little-size: 12px;

    --distance-little: 2px;
    --distance-small: 5px;
    --distance-medium: 10px;
    --distance-big: 20px;
    --distance-large: 40px;

    --uniq-color-registration: #00AE53;
    --uniq-color-login: #009777;
    --uniq-color-logout: #a43;
}

/***********************************************************************/
/* CORE */
html{
    height: calc(100% - (165px + 118px));
}

body{
    background-color: var(--color-dark-gray);
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
    color: var(--color-light-gray);
    font-size: var(--text-medium-size);
}

header{
    display: flex;
    flex-direction: column;

    padding: 10px 35px;
}
/***********************************************************************/
/* GENERAL */
a{
    display: inherit;
    flex-direction: inherit;

    text-decoration: none;
    color: var(--color-light-gray)
}

button{
    outline: none;
    border: none;
    background: none;
    padding: 0px;

    cursor: pointer;
}
/***********************************************************************/
/* GENERIC PROPERTY */
.header-large{
    font-size: var(--text-small-header-size);
    padding: 0px;
    margin: 0px;
}

.header-small{
    color: var(--color-green);
    font-size: var(--text-big-size);
    padding: 0px;
    margin: 0px;
}

.big-text{
    font-size: var(--text-big-size);
}

.medium-text{
    font-size: var(--text-big-medium)

}

.text-bold{
    font-weight: bold;
}

.registration{
    background-color: #00AE53;
}

.login{
    background-color: #009777;
}

.logout{
    background-color: #a43;
}

.deactivate{
    display: none;
}

.row-list{
    display: flex;
    flex-direction: row;
}

.column-list{
    display: flex;
    flex-direction: column;
}

.icon.small{
    height: 25px;
    width: 25px;
}

.gap-large{
    gap: var(--distance-large)
}
.gap-big{
    gap: var(--distance-big)
}
.gap-medium{
    gap: var(--distance-medium);
}

.gap-small{
    gap: var(--distance-small);
}

.padding-big{
    padding: var(--distance-big);
}
.padding-small{
    padding: var(--distance-small);
}


.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.disabled{
    display: none;
}
/***********************************************************************/
/* GENERIC ELEMENTS */

.page-content-wrapper{
    min-height: 100%;
    padding: 40px 70px;

    display: flex;
    flex-direction: column;
    gap: var(--distance-big);
}

.post-cover.small{
    height: 100px;
    width: 100px;
    margin-right: var(--distance-medium);
}

.post-cover.medium{
    height: 150px;
    width: 150px;
    margin-right: var(--distance-big);
}

.content-text{
    inline-size: 350px;
    overflow-wrap: break-word;
    font-size: var(--text-medium-size);
}

.logo{
    font-size: 32px;
    font-family: 'Frank Ruhl Libre';
    font-weight: bold;
}

.button-link{
    color: var(--color-white);
    padding: var(--distance-small) var(--distance-big);
    border-radius: var(--distance-big);
}

.button-link.small{
    font-size: var(--text-little-size);
    padding: var(--distance-little) var(--distance-small);
}

.vertical-separator{
    width: 1px;
    background-color: var(--color-light-gray);
    margin: 0px var(--distance-small);
}

.vertical-separator.small{
    height: var(--text-medium-size);
    margin: 0px;
}

.vertical-separator.large{
    height:  var(--text-large-size);
}

.horizontal-separator{
    background-color: var(--color-dark-gray);;
    width: 100%;
    height: 1px;
}


.category-cover{
    padding: var(--distance-big) var(--distance-large);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
}

.category-cover .header{
    backdrop-filter: blur(5px);
    padding: 0px var(--distance-medium);
}

.tag{
    background-color: var(--color-green);
    padding: var(--distance-little) var(--distance-medium);
    border-radius: 20px;

    color: var(--color-black);
    font-size: var(--text-small-size);
    align-items: center;
}

.avatar{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.avatar.small{
    height: 50px;
    width: 50px;
}
/***********************************************************************/
/* INDEX PAGE */

.index-posts-block .header{
    margin-bottom: var(--distance-big);
}

.index-posts-block .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:var(--distance-medium);
}

.index-posts-block .element{
    min-width: 500px;

    display: flex;
    flex-direction: row;
    flex: 0 0 30%;
}

.index-posts-block .element .content{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.index-posts-block .element .content .header{
    margin: 0px;
}

/***********************************************************************/
/* BY CATEGORY */

.by-category-list{
    gap: var(--distance-big);
}
.by-category-list > .column-list{
   gap: var(--distance-big);
   flex: 0.67;
}

.post-list.column-list{
    gap: var(--distance-medium);
}

.post-content .column-list{
    gap: var(--distance-small);
}

.post-content{
    justify-content: space-between;
}

.post-most-popular.column-list{
    background-color: var(--color-dark-blue);
    padding: var(--distance-big) var(--distance-big);
    padding-bottom: var(--distance-large);
    height: 100%;

    flex: 0.33;
    align-items: center;
    gap: var(--distance-big);
}

.tag-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: var(--text-small-size);
    gap: var(--distance-medium);
}

.post-most-popular > .row-list{
    align-items: center;
    gap: var(--distance-small);
}

.post-most-popular .column-list{
    gap: var(--distance-medium);
}
/*************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/

.flatpage-wrap{
    padding: 40px 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flatpage-header{
    margin-bottom: 20px;

    color: var(--color-light-gray);
    font-size: var(--text-header-size);
}

.flatpage-content{
    background-color: var(--color-dark-blue);
    width: 500px;
    min-height: 500px;
    padding: 20px;

    display: flex;
    color: var(--color-light-gray);
    font-size: var(--text-big-size);
}

/* ********************************************* */
.search-input{
    width: calc(100% - 36px);
    border: solid 2px var(--color-dark-blue);
    padding: 2px 3px;
    padding-right: 30px;
    font-size: var(--text-medium-size);
    outline: none;
}
.search-button{
    padding: 0px;
    margin: 0px;
    margin-left: -24px;

    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.search-button img{
    margin-top: -15px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.search-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search-block{
    background-color: var(--color-dark-blue);
    width: 60%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-block .search-block-input .search-input{
    width: calc(100% - 65px);
    border: 3px solid var(--color-light-gray);
    font-size: var(--text-big-size);
    padding: 4px 8px;
    padding-right: 48px;
}
.search-block .search-block-input .search-button{
    position: absolute;
    padding: 0px;
    margin: 0px;
    margin-left: -34px;

    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.search-block .search-block-input .search-button img{
    margin-top: 3px;
    position: absolute;
    width: 31px;
    height: 31px;
}
.search-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-tags{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-page .post-list{
    width: 60%;
    justify-content: flex-start;
}

#search-category-menu input{
    padding: 0px;
    margin: 0px;
    width: 0px;
    height: 0px;
}

#search-category-menu .sub-category label{
    height: 100%;
    width: 140px;
    
    background-color: var(--color-dark-blue);
    color: var(--color-light-gray);
}

#search-category-menu .item.active{
    background-color: var(--color-dark-gray);
}

.append-tags{
    height: 21px;
}
#add-tags-input{
    width: 150px;
    font-size: var(--text-medium-size);
}

#tags-search-menu{
    width: 153px;
    display: none;
    position: absolute;

    border: 2px solid var(--color-light-gray);
    border-top: none;
}
#tags-search-menu.active{
    display: block;
}
#tags-search-menu div{
    background-color: var(--color-dark-blue);
    padding: 4px 4px 2px 4px;
    border-bottom: 1px solid var(--color-dark-gray);
    font-size: var(--text-medium-size);
    color: var(--color-light-gray)
}

#tags-search-menu div:hover{
    background-color: var(--color-green);
    color: var(--color-dark-gray)
}



.tab{
    margin-left: 40px;
}
