:root {
    --color-green: #c6f28d;
    --color-dark-green: #6ec002;
    --color-dark-blue: #464967;
    --color-light-gray: #aeaeae;
    --color-dark-gray: #2F303A;
    
    --text-header-size: 56px;
    --text-small-header-size: 36px;
    --text-large-size: 26px;
    --text-big-size: 20px;
    --text-medium-size: 16px;
    --text-small-size: 14px;

    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-big: 20px;
    --padding-large: 40px;
}

html{
    height: calc(100% - (165px + 118px));
}

body{
    background-color: var(--color-dark-gray);
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: var(--color-light-gray)
}

.header{
    padding: 0px 50px 0px 50px;
    color: var(--color-light-gray);
}
.header .user-menu{
    width: 100%;
    border-bottom: solid 1px var(--color-light-gray);
    padding: var(--padding-small) var(--paddgin-medium);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .user-menu .option span{
    margin-left: 24px;

    font-size: var(--text-big-size);
}

.logo {
    color: var(--color-light-gray);
    font-size: 32px;
    font-family: 'Frank Ruhl Libre';
    font-weight: bold;
}
.button-signup{
    width: 120px;
    height: 30px;

    background: none;
    background-color: var(--color-green);

    border: none;
    border-radius: 50px;

    padding: 0;

    color: black;
    font-size: var(--text-medium-size);
}

.button-signup:hover{
    background-color: var(--color-dark-green);
}

.category-menu{
    padding: 0 var(--padding-big);
}
#main-category{
    height: 40px;

    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: var(--text-big-size);
}

.sub-category{
    height: 40px;
    background-color: var(--color-dark-blue);

    display: none;
    align-items: center;
    font-size: var(--text-medium-size);
}

.sub-category.active{
    display: flex;
}

.category-menu .item{
    height: 100%;
    width: 150px;
    color: var(--color-light-gray);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-menu .active{
    background-color: var(--color-dark-blue);
}

/* ******************************************************** */
footer{
    background-color: var(--color-dark-blue);

    padding: var(--padding-big) var(--padding-large) var(--padding-small) var(--padding-large);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .inform{
    width: 100%;

    display: flex;
    justify-content: space-between;
    color: var(--color-light-gray);
}

footer .inform .header{
    margin-right: var(--padding-large);
    padding: 0px;
    font-size: var(--text-small-header-size);
}

footer ul{
    padding-left: 17px;
    margin: var(--padding-medium) 0px;
    font-size: var(--text-medium-size);
}

footer .list{
    display: flex;
}

footer .copyright{
    color: white;
}

footer .social-network{
    list-style-type: none;
    padding: 0px;
}

footer .social-network a{
    display: flex;
    align-items: center;
}

footer img{
    height: 25px;
    width: 25px;
    margin-bottom: var(--padding-small);
    margin-right: var(--padding-medium);
}

footer .contact span{
    margin-bottom: var(--padding-medium);   
}

footer .contact .header{
    margin-right: 0px;
    margin-bottom: var(--padding-medium);
}

footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ******************************************************** */
.wrap{
    min-height: 100%;
    padding: 40px 70px;

    display: flex;
    flex-direction: column;
    gap: 2%;
}

.block{
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
}

.wrap .content-header{
    margin-bottom: 20px;

    font-size: var(--text-small-header-size);
    color: var(--color-light-gray);
}

.wrap .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5%;
}

.post-img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.wrap .element{
    display: flex;
    flex-direction: row;
    flex: 0 0 33%;
    min-width: 500px;
}

.wrap .post-content{
    display: flex;
    flex-direction: column;
}

.wrap .post-header{
    font-size: var(--text-big-size);
    color: var(--color-green);
}

.wrap .post-describe{
    font-size: var(--text-medium-size);
    color: var(--color-light-gray);
}

.author-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-content-header{
    font-size: var(--text-small-header-size);
    color: var(--color-light-gray);

    margin-bottom: 20px;
}

.author-content{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
}

.author-block img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.author-element{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--text-big-size);
    color: var(--color-green);
}

/* ******************************************************** */

.category-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-content{
    width: 65%;

    display: flex;
    flex-direction: column;
}

.post-most-popular{
    width: calc(32% - 20px);
    background-color: var(--color-dark-blue);

    display: flex;
    flex-direction: column;
}

.category-cover{
    height: 100px;
    margin-bottom: 20px;
    padding-left: 40px;

    display: flex;
    align-items: center;
}
.post-content .header{
    backdrop-filter: blur(5px);
    padding: 0px 5px;

    font-size: var(--text-small-header-size);
}

.post-content .post-list{
    display: flex;
    flex-direction: column;
}

.post-content .post-block{
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
}
.post-content .post-header{
    margin-bottom: 5px;
}
/* .post-content .post-img{
    width: ;
} */

.post-content .post-inf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-content .post-text{
    display: flex;
    flex-direction: column;
}

.post-content .post-describe{
    font-size: var(--text-medium-size);
    color: var(--color-light-gray);
}

.post-content .post-labels{
    display: flex;
    flex-direction: row;
    font-size: var(--text-medium-size);
    color: var(--color-light-gray);
}

.label{
    height: 25px;
    width: 25px;
    margin: 0px 7px;
}

.post-tags{
    margin-left: 25px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}
.popular-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.tag-block{
    background-color: var(--color-green);
    min-width: 55px;
    border-radius: 50px;


    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: var(--text-small-size);
}

.post-most-popular .header{
    font-size: var(--text-small-header-size);
    padding: 0;
    text-align: center;
}

.post-most-popular{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 20px;
}

.popular-posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular-posts .content-block{
    display: flex;
    flex-direction: column;
    gap:5px;
}