{% load static %}
<footer>
    <div class="inform">
        <div class="list">
            <div class="block">
                <span class="header">
                    Navigator
                </span>
                <ul>
                    <li><a href="#">Home page</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </div>
            <div class="block">
                <span class="header">
                    About Us
                </span>
                <ul>
                    <li><a href="/about">Us</a></li>
                    <li><a href="#">Author</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </div>
            <div class="block">
                <span class="header">
                    Follow Us
                </span>
                <ul class="social-network">
                    <li>
                        <a href="#">
                            <img src="{% static 'image/telegram.png' %}">
                            telegram
                        </a>
                        </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'image/linkedin.png' %}">
                            linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact">
            <span class="header">
                In_Blog
            </span>
            <span>380 (XX) - XXX - XX - XX</span>
            <span>emali@gmail.com</span>
        </div>
    </div>
    <span class="copyright">
        Copyright © 2023 All Right Reserved AsirInc
    </span>
</footer>