{% load static %}
<footer class="column-list">
    <div class="inform">
        <div class="row-list">
            <div>
                <span class="header-large">
                    Navigator
                </span>
                <ul>
                    <li><a href="{% url 'blog:index' %}">Home page</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </div>
            <div>
                <span class="header-large">
                    About Us
                </span>
                <ul>
                    <li><a href="/author">Author</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </div>
            <div>
                <span class="header-large">
                    Follow Us
                </span>
                <ul class="social-network">
                    <li>
                        <a href="#">
                            <img src="{% static 'image/telegram.png' %}" class="icon small">
                            telegram
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'image/linkedin.png' %}" class="icon small">
                            linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column-list">
            <span class="header-large">
                In_Blog
            </span>
            <span>380 (XX) - XXX - XX - XX</span>
            <span>emali@gmail.com</span>
        </div>
    </div>
    <span class="copyright">
        Copyright © 2023 All Right Reserved AsirInc
    </span>
</footer>
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">