{% load blog_tags %}
<header class="header">
    <div class="user-menu">
        <span class="logo">
            Internet_ Blog
        </span>
        <div class="option">
            <span>settings</span>
            <span>profile</span>
            <span>...</span>
        </div>
        <button class="button-signup">
            sign up
            
        </button>
    </div>
    <div class="category-menu">
        {% get_main_categories as categories %}
        <div id="main-category">
            {% for category in categories %}
                <a  href="{{ category.url }}" 
                    class="item {% if forloop.counter == 1%}active{% endif %}" 
                    onmouseenter="func(event, '{{forloop.counter0}}')">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
        {% for category in categories %}
            <div class="sub-category {% if forloop.counter == 1%}active{% endif %}">
                {% for sub_category in category.childs.all %}
                    <a href="{{ sub_category.url }}" class="item">
                        {{ sub_category }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</header>