
{% load static %}
{% load blog_tags %}
<header>
    <div class="top-menu row-list align-center justify-space-between">
        <a href="{% url 'blog:index' %}" class="logo">
                Internet_ Blog
        </a>
        <div class="row-list align-center gap-medium">
            {% if user.is_authenticated == True %}
                <div class="vertical-separator large"></div>
                {% if 'blog.add_post' in perms %}
                    <a href="{% url 'blog:create_post' %}" class="text-bold big-text">
                        new post
                    </a>
                    <div class="vertical-separator small"></div>
                {% endif %}
                <a href="{% url 'users:profile' user.profile.id %}" class="text-bold big-text">
                    profile
                </a>
                <div class="vertical-separator large"></div>
            {% endif %}
            {% if user.is_authenticated == False %}
                <a href="{% url 'users:registration' %}" class="button-link registration medium-text">
                    registration
                </a>
                <a href="{% url 'users:login' %}" class="button-link login medium-text">
                    login
                </a>
            {% else %}
                <a href="{% url 'users:logout' %}" class="button-link logout medium-text">
                    logout
                </a>
            {% endif %}
        </div>
        <form action="{% url 'blog:search' %}" method="get">
            {% include 'include/search_input.html' %}
        </form>
    </div>
    <div class="category-menu column-list" id="header-category-menu">
        {% get_main_categories as categories %}
        <div class="row-list align-center">
            {% for category in categories %}
                <a  href="{% url 'blog:category' category.url %}" 
                    class="item text-bold big-text align-center justify-center {% if forloop.counter == 1%}active{% endif %}" 
                    onmouseenter="header_category_select(event, '{{forloop.counter0}}')">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
        {% for category in categories %}
            <div class="sub-category {% if forloop.counter == 1 %} active {% endif %}">
                {% for sub_category in category.childs.all %}
                    <a href="{% url 'blog:category' sub_category.url %}" class="item text-bold medium-text align-center justify-center">
                        {{ sub_category }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</header>
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">