{% load blog_tags %}
<header class="header">
    <div class="user-menu">
        <a href="{% url 'blog:index' %}">
            <span class="logo">
                Internet_ Blog
            </span>
        </a>
        <div class="option">
            {% if 'blog.add_post' in perms %}
                <a href="{% url 'blog:create_post' %}">
                    new post
                </a>
            {% endif %}
            {% if user.is_authenticated == True %}
                <a href="{% url 'users:profile' user.profile.id %}">
                    profile
                </a>
                <span>...</span>
            {% endif %}
        </div>
        <div class="search-sign">
            <form action="{% url 'blog:search' %}" method="get">
                {% include 'include/search_input.html' %}
            </form>
            {% if user.is_authenticated == False %}
                <a href="{% url 'users:registration' %}" class="button-auth registration">
                    registration
                </a>
                <a href="{% url 'users:login' %}" class="button-auth login">
                    login
                </a>
            {% else %}
                <a href="{% url 'users:logout' %}" class="button-auth logout">
                    logout
                </a>
            {% endif %}
        </div>
    </div>
    <div class="category-menu" id="header-category-menu">
        {% get_main_categories as categories %}
        <div class="main-category">
            {% for category in categories %}
                <a  href="{% url 'blog:category' category.url %}" 
                    class="item {% if forloop.counter == 1%}active{% endif %}" 
                    onmouseenter="header_category_select(event, '{{forloop.counter0}}')">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
        {% for category in categories %}
            <div class="sub-category {% if forloop.counter == 1%}active{% endif %}">
                {% for sub_category in category.childs.all %}
                    <a href="{% url 'blog:category' sub_category.url %}" class="item">
                        {{ sub_category }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</header>